@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Poppins:wght@600&display=swap');

/* View borders of divs for easier visual editing */
/* * {
    border: black solid 2px;
    margin: 0px;
} */

html {
    display: flex;
    justify-content: center;
}

/* Centers entire page */
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    width: 50%;
}

header {
    width: 100%;
    margin-bottom: 2rem;
}

.container {
    background-color: rgb(212, 255, 220);
}

.combine {
    display: flex;
    gap: 2.5rem;
}

.col-md-6 h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

/* Styling for books icon */
.icon img {
    width: 7rem;
    padding-top: 2rem;
}

.info-icon button {
    border-radius: 50%;
    background-color: rgb(252, 239, 180);
    width: 2rem;
    border: none;
}

.add-space {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.new-btn {
    width: 4em;
    height: 4em;
    margin: 1rem;
}


.rbtn {

}

.delete {

}
